{% extends 'base.html' %}
{% block titleis %} Contact {% endblock titleis %}
{% block navigation %}

                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" href="http://127.0.0.1:8000/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
{% endblock navigation %}

{% block toUpload %}<div ><iframe  style="align-content: center;z-index: -1;display: flex;position: absolute; overflow: hidden; width: 100%;height: 100%;" src="https://cdn.soft8soft.com/AROAJSY2GOEHMOFUVPIOE:17687b3755/applications/augmented_reality/augmented_reality.html">
</iframe>
<div style="position: absolute;align-self: center;"><button>Hello</button></div>



</div>
{% endblock toUpload %}
{% block name %}Contact{% endblock name %}
