{% extends 'base.html' %}
{% block titleis %} Services {% endblock titleis %}
{% block navigation %}
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" href="http://127.0.0.1:8000/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
{% endblock navigation %}
{% block body %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" >
        <div class="carousel-item active" style="max-height: 100vh; max-width: 100vw; scroll-behavior: smooth;">
            <img src="/static/kid.jfif"   class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
        <div class="carousel-item " style="max-height: 100vh; max-width: 100vw; object-fit: scale-down;">
            <img src="https://source.unsplash.com/1600x900/?timetable
" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>
        <div class="carousel-item" style="max-height: 100vh; max-width: 100vw; object-fit: scale-down;">
            <img src="https://source.unsplash.com/1600x900/?black,deep
" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock body %}
{% block toUpload %}
<div style="padding: 10px;align-content: center;background-color: lavenderblush;border: solid; border-width: 2px;border-radius: 20px;border-color: black;border-top-left-radius: 0px;border-top-right-radius: 0px;">
<h2>Upload<h2>
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
<input type="file" name="document">
<label for="section1">section</label>
<input type="text" name="section"><br><br>
<button type="submit">Upload file </button>
</form>
</div>
{% endblock toUpload %}
{% block name %}Service{% endblock name %}

{% block forloop2 %}
 <ul>
  {% for user in veriable2 %}
        <li>today you have class on :- {{ user}}</li>
    {% endfor %}
    </ul>
{% endblock forloop2 %}

{{% block forloop %}
  <ul>
  {% for user in values %}
        <li>{{ user}}</li>
    {% endfor %}
    </ul>

{% endblock forloop %}}